@font-face {
  font-family: "VelaSans";
  src: local("VelaSans Bold"), local("VelaSans-Bold"),
    url("../fonts/VelaSans-Bold.woff2") format("woff2"),
    url("../fonts/VelaSans-Bold.woff") format("woff"),
    url("../fonts/VelaSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: local("VelaSans SemiBold"), local("VelaSans-SemiBold"),
    url("../fonts/VelaSans-SemiBold.woff2") format("woff2"),
    url("../fonts/VelaSans-Regular.woff") format("woff"),
    url("../fonts/VelaSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: local("VelaSans Regular"), local("VelaSans-Regular"),
    url("../fonts/VelaSans-Regular.woff2") format("woff2"),
    url("../fonts/VelaSans-Regular.woff") format("woff"),
    url("../fonts/VelaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html {
  font-family: "VelaSans";
  font-size: 18px;
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
body {
  background: rgba(26, 26, 26, 1);
}
footer {
  background: #222222;
  padding: 30px 0 50px 0;
}
img {
  pointer-events: none;
}
/* path#colored{
  fill: #ffffff1c;
} */
path#colored:hover,
path#colored:focus,
path#colored:active,
.colored-active {
  fill: #3f8cff;
  box-shadow: 0px 4px 4px rgba(17, 112, 225, 0.01),
    0px 32px 32px rgba(17, 112, 225, 0.05);
}
path {
  transition: fill 0.2s ease-in-out;
  stroke-width: 0.2;
  stroke-linejoin: round;
  cursor: pointer;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
.map {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1400px) {
  svg {
    height: 855px;
    width: 1140px;
  }
}
svg {
  height: 990px;
  width: 1320px;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.country_block {
  position: absolute;
  padding: 20px;
  background: whitesmoke;
  border-radius: 10px;
  height: auto;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0px 4px 4px rgba(17, 112, 225, 0.01),
    0px 32px 32px rgba(17, 112, 225, 0.05);
}
.block_1 {
  top: 270px;
  right: 250px;
}
.block_2 {
  top: 390px;
  right: 250px;
}
.block_3 {
  top: 340px;
  right: 450px;
}
.block_4 {
  top: 336px;
  right: 490px;
}
.block_5 {
  top: 334px;
  right: 520px;
}
.block_6 {
  top: 332px;
  right: 535px;
}
.block_7 {
  top: 350px;
  right: 535px;
}
.active {
  opacity: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}
.main-text {
  max-width: 700px;
}
@media (min-width: 1200px) {
  .main-illustration img {
    width: 100%;
  }
  .main-illustration {
    max-width: 60%;
  }
  .main-text {
    max-width: 45%;
  }
}
.main-buttons .icon:nth-child(1) {
  width: 13px;
  height: 14px;
  margin-left: 10px;
}
.main-buttons .icon:nth-child(2) {
  width: 13px;
  height: 14px;
  margin-right: 18px;
  position: relative;
  animation: arrow-slide 0.5s infinite alternate ease-in-out;
  animation-delay: 0.1s;
  right: 0;
}
@keyframes arrow-slide {
  from {
    right: 1.5px;
  }
  to {
    right: -1.5px;
  }
}
.header-link {
  font-weight: 600;
  font-size: 0.8889rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.0024em;
  color: #ffffff;
  text-decoration: none;
}
.blue {
  color: #3f8cff;
}
header {
  height: 75px;
  display: flex;
}
header::before {
  content: url(../images/bg_waves.svg);
  position: absolute;
  z-index: -1;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-button {
  display: flex;
  background: #3f8cff;
  border: none;
  border-radius: 2px;
  padding: 14px 32px;
  font-family: VelaSans;
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 0.0025em;
  color: #ffffff;
}
.header-button > img {
  margin-right: 8px;
}
.main {
  display: flex;
}
.main-text h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  margin-bottom: 25px;
}
.main-text p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #ffffffd9;
  margin-bottom: 30px;
}
.main-buttons button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  border: none;
  padding: 18px 32px;
  background: #3f8cff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.main-buttons a {
  display: flex;
  text-decoration: none;
  margin-right: 20px;
}
.main-buttons span {
  font-weight: 600;
  font-size: 0.8889rem;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}
.advantages {
  background-color: #222222;
  padding: 40px 0;
  margin-bottom: 75px;
}
.advantages-block img {
  margin-bottom: 10px;
}
.advantages-block h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  letter-spacing: -0.0024em;
  color: #3f8cff;
  margin-bottom: 10px;
}
.advantages-block h4 {
  font-weight: 500;
  font-size: 0.8889rem;
  line-height: 1.3333rem;
  letter-spacing: 0.0015em;
  color: #919191;
}
.map-header,
.services h2,
.faq > h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.0024em;
  color: #3f8cff;
  text-align: center;
  margin-bottom: 50px;
}
.services h2,
.faq > h2 {
  text-align: left;
}
.map-block,
.faq {
  margin-bottom: 75px;
}
.services {
  margin-bottom: 50px;
  padding: 0 105px;
}
.footer-content {
  display: flex;
  padding: 0 210px;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .services {
    padding: 0;
  }
  .footer-content {
    padding: 0;
  }
}
.services-blocks {
  display: flex;
  justify-content: space-between;
}
.services-block-1,
.services-block-3 {
  max-width: 35%;
}
.services-block-2 {
  max-width: 25%;
}
.services-block-content-start {
  background-color: #242424e5;
  /* filter: hue-rotate(60deg); */
  border-radius: 4px 4px 0 0;
}
.services-block-content-end {
  padding: 22px 56px;
  background: #222222;
  border-radius: 0 0 4px 4px;
}
/* Блок 1 BG */
.services-block-1 .services-block-head-text {
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.9),
      rgba(36, 36, 36, 0.9)
    ),
    url(../images/services-1-image.png);
}
/* Блок 2 BG */
.services-block-2 .services-block-head-text {
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.9),
      rgba(36, 36, 36, 0.9)
    ),
    url(../images/services-2-image.png);
}
/* Блок 3 BG */
.services-block-3 .services-block-head-text {
  background-image: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.9),
      rgba(36, 36, 36, 0.9)
    ),
    url(../images/services-3-image.png);
}
.services-block-head-text {
  font-weight: 600;
  font-size: 24.5269px;
  line-height: 32px;
  letter-spacing: 0.0015em;
  color: #ffffff;
  padding: 22px 56px;

  background-blend-mode: normal;
  background-size: cover;
  border-radius: 4px;
}
.services-block-content-end p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: #919191;
  margin-bottom: 15px;
}
.services-block-content-end a {
  font-weight: 600;
  font-size: 15.7673px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #3f8cff;
  text-decoration: none;
}
.services-block-content-end a .icon {
  width: 13px;
  height: 14px;
  margin-left: 7px;
}

.accordion .accordion-item {
  margin-bottom: 25px;
  background: #222222;
  border-radius: 4px;
  border: 1px solid #222222;
}
.accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.accordion .accordion-item button[aria-expanded="true"] {
  /* border-bottom: 1px solid #03b5d2;
  width: 90%;
  margin: auto; */
}
.accordion .accordion-item button[aria-expanded="true"] .according-button-1 {
  padding: 31px 0px 25px 0px;
}
.accordion button {
  position: relative;
  /* display: block; */
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 31px 58px 31px 57px;
  color: #7288a2;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  /* color: #03b5d2; */
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  /* color: #03b5d2;
  border: 1px solid #03b5d2; */
}

.accordion button .accordion-title {
  /* padding: 1em 1.5em 1em 0; */
  font-family: VelaSans;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
.accordion-start p {
  font-size: 0.875rem;
  line-height: 20px;
  color: #5b6987;
  font-family: VelaSans;
}
.accordion button .icon {
  display: inline-block;
  right: 0;
  transition: transform 0.3s ease-in-out;
}
.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}
.accordion button[aria-expanded="true"] .icon {
  transform: rotate(-180deg);
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  background: #1b1b1b;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 25px 0;
  margin: 0 57px;
}
@media (max-width: 1400px) {
  .accordion button .accordion-title {
    font-size: 1rem;
  }
  .accordion .accordion-content p {
    font-size: 0.875rem;
  }
}
.footer-start p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.0015em;
  color: #919191;
}
.footer-nav {
  display: flex;
}
.footer-nav a {
  text-decoration: none;
}
.footer-nav h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.0024em;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-nav li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0024em;
  color: #919191;
}
.footer-nav li {
  margin-bottom: 10px;
}
.footer-nav li:last-child {
  margin-bottom: 0;
}
.footer-nav-main,
.footer-nav-services {
  margin-right: 75px;
}
