body {
  background: rgba(26, 26, 26, 1);
}
/* path#colored{
  fill: #ffffff1c;
} */
path#colored:hover,
path#colored:focus,
path#colored:active,
.colored-active {
  fill: #3f8cff;
  box-shadow: 0px 4px 4px rgba(17, 112, 225, 0.01),
    0px 32px 32px rgba(17, 112, 225, 0.05);
}
path {
  transition: fill 0.2s ease-in-out;
  stroke-width: 0.2;
  stroke-linejoin: round;
  cursor: pointer;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}
.map {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1400px) {
  svg {
    height: 855px;
    width: 1140px;
  }
}
svg {
  height: 990px;
  width: 1320px;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.country_block {
  position: absolute;
  padding: 20px;
  background: whitesmoke;
  border-radius: 10px;
  height: auto;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.block_1 {
  top: 270px;
  right: 250px;
}
.block_2 {
  top: 390px;
  right: 250px;
}
.block_3 {
  top: 340px;
  right: 450px;
}
.block_4 {
  top: 336px;
  right: 490px;
}
.block_5 {
  top: 334px;
  right: 520px;
}
.block_6 {
  top: 332px;
  right: 535px;
}
.block_7 {
  top: 350px;
  right: 535px;
}
.active {
  opacity: 100%;
}
